.profileContainer {
  padding: 0px 48px;
  width: 100%;
  .profileHeader {
    width: 100%;
  }

  .profileImg {
    max-width: 100%;
    border-radius: 50%;
  }

  .formControl {
    label {
      margin-top: 16px;
    }
  }
  .usernameText {
    margin-top: 16px;
  }

  .profileLabels {
    margin-top: 24px;
  }

  p {
    margin-top: 6px !important;
  }
}
