@use "../styles/colors.scss" as c;
.pdpContainer {
  .recipeDetailImg {
    width: 100%;
    min-height: 300px;
  }

  .pdpHeader {
    padding-top: 16px;
    border-bottom: 2px solid c.$secondary;
    p,
    h3 {
      margin: 8px 0;
    }

    p {
      color: c.$tertiary;
    }
  }

  .pdpMain {
    margin-top: 24px;

    p {
      margin-bottom: 24px;
    }
  }

  .pdpDetails {
    margin-top: 24px;
    h4 {
      margin-bottom: 16px;
    }
    .pdpSummary {
      margin: 16px 0;
    }
    .detailItem {
      margin: 8px 0;
    }
  }
  .instructionsContainer {
    margin: 0 16px;

    .stepContainer {
      padding: 4px 0;
      .stepNumber {
        font-weight: bold;
        display: inline;
      }
      .stepInstruction {
        display: inline;
      }
    }
  }

  .placeholder {
    background-color: lightgray;
    width: 100%;
    margin: 8px 0;

    &Sm {
      height: 16px;
    }
    &Md {
      height: 28px;
    }
    &Lg {
      height: 48px;
    }
    &Text {
      height: 98px;
    }
  }

  .recipeReviews {
    margin: 64px 0;

    h5 {
      margin-bottom: 32px;
    }
  }
}
