@use "../styles/colors.scss" as c;
.authContainer {
  height: 100%;
  padding: 64px 0;
}

.formControl {
  width: 100%;
  padding-top: 24px;

  button {
    margin-top: 16px;
  }

  .errorMsg {
    color: c.$red;
    font-weight: 600;
    margin-top: 8px;
  }
}

.description {
  margin: 16px 0 8px 0;
}

.bottomLink {
  margin-top: 16px;

  a {
    color: c.$primary2;
    cursor: pointer;
  }
}

.roleDescription {
  margin: 16px 0 8px 0;
}
