.userTileContainer {
  box-shadow: 1px 1px 3px #b0b3b8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  &:hover {
    transform: scale(1.05);
  }
}
